.font_name_about {
    font-style: italic;
}

.img_perfil {
    width: 120px;
    border-radius: 100%;
    margin-left: 0%;
    float: left;
}

.background_color {
    background-color: rgb(237, 236, 235);
}

div {
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}


